.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    width: 320px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .card-title {
        font-size: 1.5em;
        color: #555;
    }
    
    .card-number {
        font-size: 3rem;
        font-weight: bold;
        color: #222;
    }
}