@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
    
}

:root {
    --main-color: #7fd3e0;
    --secundary-color: #fff;
    --terciary-color: #eaeaea;
    --quartenary-color: #f0f0f0;
    --complementary-color: #e0e0e0;
    --color-success: #7fd79b;
    --color-warning: #ffe08a;
    --color-danger: #f28b8b;
    --color-info: #7fd3e0;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    width: 100%;
    height: 100%;
}

main {
    width: 100vw;
    height: 100vh;
    background-image: url("../src/assets/background-light-4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    
    & .sidebar-container {
        --complementary-color: #e0e0e0c7;
        height: 100%;
        width: 20%;
        background-color: var(--quartenary-color);
        border-right: 10px solid var(--complementary-color);
        padding: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
        
        & .sidebar-btn-resize {
            background-color: transparent;
            width: 20px;
            height: 20px;
            border-radius: 2px;
            margin: 0px -90% 10px 0px;
            display: flex;
            justify-content: center;
            align-items: center;

            & .sidebar-resize-icon {
                width: 18px;
                height: 18px;
            }
        }

        & .perfil-container {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin: 0px 0px 40px 0px;
            gap: 5px;

            & .perfil-image {
                width: 100px;
                height: 100px;
                background-image: url("../src/assets/perfil-image.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                border: 5px solid var(--secundary-color);
                border-radius: 10px;
            }

            & .perfil-name {
                font-weight: 800;

            }
        }

        & .tasks-groups-container {
            display: flex;
            flex-direction: column;
            gap: 40px;

            & .task-group {
                width: 60px;
                height: 60px;
                background-color: var(--secundary-color);
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    cursor: pointer;
                }

                & .task-group-icon {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }

    & .main-content {
        width: 100%;
        padding: 1vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3vh;

        & .searchbar-container {
            width: 80%;
            height: 60px;
            background-color: var(--secundary-color);
            margin: 0px auto;
            padding: 10px;
            border-radius: 8px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            & .searhbar-input-container {
                width: 70%;
                height: 100%;
                display: flex;
                align-items: center;
                gap: 5px;
                padding: 5px;
                border-radius: 5px;
                transition: all .3s ease-in;
                
                &:focus-within {
                    box-shadow: 0px 0px 10px #e0e0e0cb;

                }


                & .btn-search {
                    width: 30px;
                    height: 30px;
                    background-color: transparent;
                    border: none;
                    border-radius: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all .3s ease-in;

                    &:hover {
                        cursor: pointer;
                        color: var(--main-color);
                    }
                }

                & .search-input {
                    height: 100%;
                    width: calc(100% - 30px);
                    background-color: transparent;
                    font-size: 1rem;
                    padding: 0px 15px 0px 0px;
                }
            }

            & .searchbar-actions {
                display: flex;
                justify-content: center;
                align-items: center;
                transition: .3s ease-in;

                &:hover {
                    cursor: pointer;
                    box-shadow: 0px 0px 10px var(--complementary-color);
                }
            }

            & .searchbar-filter {
                width: 40px;
                height: 40px;
                background-color: var(--quartenary-color);
                border-radius: 5px;
            }

            & .searchbar-orderby {
                width: 40px;
                height: 40px;
                background-color: var(--quartenary-color);
                border-radius: 5px;
            }

            & .searchbar-create-task {
                width: 120px;
                height: 40px;
                background-color: var(--main-color);
                color: var(--secundary-color);
                border-radius: 5px;
                padding: 0px 0px 0px 10px;
                justify-content: flex-start;
                gap: 12px;

                &:hover {
                    box-shadow: 0px 0px 10px var(--main-color);
                }
            }
        }

        & .taskbar {
            --complementary-color: #e0e0e0c7;
            width: 100%;
            height: 90%;
            background-color: var(--complementary-color);
            border-radius: 8px;
            padding: 20px 20px 0px 20px;
            overflow: auto;

            &::-webkit-scrollbar {
                width: 5px;
                margin: 0px 5px 0px 0px;
            }

            &::-webkit-scrollbar-track {
                background: transparent;
            }

            &::-webkit-scrollbar-thumb {
                background: var(--main-color);
                border-radius: 5px;
            }

            &::-webkit-scrollbar-thumb:hover {
                --main-color: #56bcf0;
                background-color: var(--main-color);
            }
            
            & .task-container {
                background-color: var(--secundary-color);
                width: 100%;
                height: 160px;
                border-radius: 10px;
                padding: 10px;
                margin: 0px 0px 20px 0px;
                border-left: 15px solid var(--main-color);
                display: flex;

                & .task-content {
                    width: 90%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    & .task-header {
                        width: 100%;
                        height: 60px;
                        display: flex;
                        justify-content: space-between;
                        align-items: start;
                        
                        & .task-tittle {
                            width: 50%;
                            height: 50px;
                            border-radius: 5px;
                            font-size: 24px;
                            font-weight: 700;
                        }

                        & .task-display-info {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
    
                        & .task-group {
                            width: 160px;
                            height: 40px;
                            background-color: var(--terciary-color);
                            border-radius: 5px;
                            font-weight: 600;
                        }
    
                        & .taks-time {
                            width: 160px;
                            height: 40px;
                            background-color: var(--terciary-color);
                            border-radius: 5px;
                            justify-content: flex-start;
                            gap: 12px;
                            font-size: 16px;
                            font-weight: 600;
                            letter-spacing: 2px;
                            padding: 0px 0px 0px 10px;
                        }
                    }

                    & .task-description {
                        height: calc(100% - 80px);
                        font-size: 1.1rem;
                    }
                }

                & .task-actions-container {
                    width: 10%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: end;
                    justify-content: space-between;

                    & .task-actions {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    & .task-btn-checker {
                        width: 40px;
                        height: 40px;
                        border-radius: 5px;

                        & input[type="checkbox"] {
                            display: none;
                        }

                        & .checkbox-icon {
                            width: 30px;
                            height: 30px;
                            border: 2px solid var(--terciary-color);
                            border-radius: 5px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            transition: all 0.3s ease-in;

                            & .check-icon {
                                display: none;
                                width: 24px;
                                height: 24px;
                            }

                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }

                    & .task-btn-delete {
                        width: 30px;
                        height: 30px;
                        
                        background-color: transparent;
                        transition: all 0.3s ease-in;
                        color: var(--terciary-color);

                        &:hover {
                            cursor: pointer;
                            color: var(--color-danger);
                        }
                    }

                }

                &.checked {
                    & .task-actions-container {
                        & .task-btn-checker {

                            & .checkbox-icon {
                                color: var(--color-success);
                                border: 2px solid var(--color-success);
                                transition: all .3s ease-in;

                                & .check-icon {
                                    display: block;
                                    width: 24px;
                                    height: 24px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}