@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
    
}

:root {
    --main-color: rgb(127, 211, 224);
    --secundary-color: rgb(255, 255, 255);
    --terciary-color: rgb(234, 234, 234);
    --quartenary-color: rgb(240, 240, 240);
    --complementary-color: rgb(224, 224, 224);
    --color-success: rgb(127, 215, 155);
    --color-warning: rgb(255, 224, 138);
    --color-danger: rgb(242, 139, 139);
    --color-info: rgb(127, 211, 224);
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    width: 100%;
    height: 100%;
}

main {
    width: 100vw;
    height: 100vh;
    background-image: url("../src/assets/background-light-4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;

    & .main-content {
        width: 100%;
        padding: 1vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3vh;
    }
}

.card-container {
    background-color: #f4f4f4;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    width: auto;

    .card-title {
        font-size: 1em;
        color: #555;
        margin-bottom: 0.5rem;
    }
    
    .card-number {
        font-size: 3rem;
        font-weight: bold;
        color: #222;
    }
}

.home-main-content {
    width: 100%;
    margin: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;

    --complementary-color: #e0e0e0c7;
    background-color: var(--complementary-color);
    border-radius: 8px;
    overflow: auto;

    h2 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
        color: #333;
    }
      
    .dashboard-cards {
        display: flex;
        gap: 1rem;
        margin-bottom: 2rem;
    }
      
}